.node-start {
    background-color: var(--start-node-color);
}

.node-finish {
    background-color: var(--finish-node-color);
}

.node-wall {
    background-color: var(--wall-node-color);
}

.node-shortest-path {
    background-color: var(--shortest-path-node-color);
}

.node-visited {
    background-color: var(--visited-node-color);
}

.node-unvisited {
    background-color: var(--unvisited-node-color);
}
