.controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.controls button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: var(--light-text-color);
    font-weight: bold;
    cursor: pointer;
    transition: background-color var(--base-transition), transform 0.1s;
    margin-right: 10px;
}

.controls button:last-child {
    margin-right: 0;
}

.controls button:hover {
    background-color: var(--secondary-color);
}

.controls button:active {
    transform: translateY(2px);
}

.controls button:disabled {
    background-color: #a4c0d0;
    cursor: not-allowed;
}
