h1 {
    opacity: 0;
    transform: translateY(-10px);
    transition: all var(--base-transition) ease-out;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--neutral-color);
}

.loaded h1 {
    opacity: 1;
    transform: translateY(0);
}

.instructions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    background-color: #2e3b4e;
    border-radius: 5px;
    margin-bottom: 20px;
}

.instructions span {
    flex: 1;
    text-align: center;
    font-weight: var(--font-weight-bold);
    font-size: 1.2em;
    color: var(--light-text-color);
    margin: 0 5px;
    border-radius: 3px;
    padding: 5px;
    transition: background-color var(--base-transition), transform var(--base-transition);
}

.instructions span:nth-child(1) {
    background-color: var(--alert-color);
}

.instructions span:nth-child(2) {
    background-color: var(--warning-color);
}

.instructions span:nth-child(3) {
    background-color: var(--success-color);
}

.instructions span:nth-child(4) {
    background-color: var(--info-color);
}

.instructions span:hover {
    background-color: #354a66;
    transform: scale(1.25) translateY(-5px);
}

.controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.controls button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: var(--light-text-color);
    font-weight: bold;
    cursor: pointer;
    transition: background-color var(--base-transition), transform 0.1s;
    margin-right: 10px;
}

.controls button:last-child {
    margin-right: 0;
}

.controls button:hover {
    background-color: var(--secondary-color);
}

.controls button:active {
    transform: translateY(2px);
}

.controls button:disabled {
    background-color: #a4c0d0;
    cursor: not-allowed;
}

.legend {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 10px 0;
    align-items: center;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: var(--neutral-color);
}

.legend-color {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
}

.node-start {
    background-color: var(--start-node-color);
}

.node-finish {
    background-color: var(--finish-node-color);
}

.node-wall {
    background-color: var(--wall-node-color);
}

.node-shortest-path {
    background-color: var(--shortest-path-node-color);
}

.node-visited {
    background-color: var(--visited-node-color);
}

.node-unvisited {
    background-color: var(--unvisited-node-color);
}

.grid {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
}
